*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*HEADER*/


header{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    padding: 20px;
    border-top: 2px solid white;
}


.navegation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Ulist{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: large;
    font-family: 'Kaushan Script', cursive;
}


li{
    list-style: none;
    padding: 20px;
   
}


li:hover{
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    color: rgb(18, 94, 176);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
}
.iconP{
    width: 100px;
    height: 100px;
}


/*BODY*/


body{
    background-image: url("/img/body.png");
}  

.contenedor{
    width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	/* Grid */
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.espacio {
    display: none;
}

h2{
    font-family:  'Ysabeau', sans-serif;
    font-size: xx-large;
    font-weight: 1500;
}

.p0{
    font-family: 'Ysabeau', sans-serif;
    font-size: larger;
    color: black;
    text-align: justify;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.video{
    position: relative;  
    display: flex;
    flex-wrap: wrap;
    margin-inline: 30%;
    margin-left: 10px;
}

.Ulist2{ 
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    font-weight: bold;
    color: #3478a4;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.contenedor-excursiones {

	/* Grid */
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
    margin: 30px; 
}

.excursion:hover{
    box-sizing: initial;
    background-color: #5d8aa8;
    border: 10px solid white;
    transition: all 0.2s;
}

.excursion {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
    margin: 10px;
	padding: 10px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	/* Grid */
	display: grid;
	grid-template-rows: 1fr auto;
}

h3{
    font-family: 'Dancing Script', cursive;
    font-size: 170%;
    text-align: left;
    color: white;
    margin: 0px;
}

.paq{
    background-color: #c4ebf6;
    border-radius: 10%;
    color: #070601f5;
}

.t3{
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    text-align: left;
    color: #01056cfb;
    margin: 20px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: rgb(237, 239, 243);
    text-align: left;
}

.p1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: rgb(76, 92, 136);
    background-color: rgb(232, 201, 89);
    text-align: center;
}

.boton {
	background: rgb(248, 207, 157);
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 5px;
	border: none;
	border-radius: 100px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	cursor: pointer;
}


.promos{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
	min-height: 100px;
	padding: 40px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	display: inline;
    left: 50%;
    transform: translate(-50%);
}

.promos:hover{
    box-sizing: initial;
    background-color: #5d8aa8;
    border: 2px solid white;
    transition: all 0.2s;
}


.contenedorForm{
    width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width:50%;
}


input, textarea{
    padding: 10px;
    margin: 5px;
}

#formContacto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 30px;
}



/*FOOTER*/


footer{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    padding: 20px;
    border-top: 2px solid white;
}
  

.containerFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copy{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p4{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: rgb(47, 119, 237);
}

.redesSociales{
    display:flex;
    justify-content:center;
}

h4{
    padding: 10px;
    color: rgb(47, 119, 237);
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	.promos{
        width: 90%;
    }
    .contenedor{
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
    }
    .contenedor-excursiones{
        grid-template-columns: 1fr;
    }
    .video{
        width: 85%;
        height: 100%;
        left: 50%;
        transform: translate(-53%);
    }
    .t3{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {

}
